html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#a-quote:hover{
    background: rgba(0,0,0,0.3);
}

#a-twitter:hover{
    background: rgba(0,0,0,0.3);
}

body {
  font-family: 'Josefin Sans', cursive;
  font-size: 25px;
  color: white;
  margin: 0;
  background-image: linear-gradient(260deg, #3FDCFC 0%, #89FC00 100%);
}

.wrapper{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper > * {
    margin: 5px;
}

.quote-msg{
    height:33%;
    width:50%;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-box-shadow: 10px 13px 28px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 13px 28px -2px rgba(0,0,0,0.55);
    box-shadow: 10px 13px 28px -2px rgba(0,0,0,0.55);
    }

#p-quote, #p-author {
    flex-basis: 1;
    margin: 0 15px 10px 15px;
    text-align: center;
}

#p-author{
    text-align: right;
}

.quote-nav{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: center;
    padding: 0;
}


.quote-nav > * {
    display: flex;
    flex: 100%;
    justify-content: center;
}

#a-quote, #a-twitter{
    border: 1px solid white;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    background: None;
    display: inline-block;
    color: white;
}
